<!--The content below is only a placeholder and can be replaced.
Esto es un template -->
<ul>
  <li><a routerLink="/user">User</a></li> <!--o routerLink="user"  (solo poniendo el nombre) -->
  <li><a routerLink="/about">About</a></li>
</ul>
<router-outlet></router-outlet>

<!-- Welcome, {{title}} ,solo se pone así porque el template(app.component.html) es de 'app', así que ya no se pone <app-root></app-root> -->
<!-- <app-user></app-user> ,acá se coloca el tag porque es un component externo ('user'), el template se llena solo porque el código lo tiene user.component.html -->